/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-top: 2rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(89, 200, 252, 1);
  background-image: linear-gradient(
    102deg,
    rgba(89, 200, 252, 1) 0%,
    rgba(107, 214, 76, 1) 50%,
    rgba(252, 223, 89, 0.97) 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  margin: auto;
  padding: 0 3.125rem 0 3.125rem;
  border-radius: 1rem;
  background-color: rgba(252, 223, 89, 1);
  background-image: linear-gradient(
    102deg,
    rgba(252, 223, 89, 1) 39%,
    rgba(41, 86, 55, 1) 100%
  );
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  margin: auto;
}

.select-wrapper {
  margin: auto;
}
.select-form {
  display: flex;
  flex-direction: column;
}

.select-container,
.center-container,
.right-container {
  flex: 1 1 31.25rem;
  height: 25rem;
  background-color: rgb(183, 248, 117);
  padding: 3.125rem 3.125rem 0 3.125rem;
  border-radius: 0.8rem;
  margin: 2rem;
  -webkit-box-shadow: 0px 14px 32px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 14px 32px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 14px 32px -5px rgba(66, 68, 90, 1);
}
.city-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.card-el.temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.actual-temp {
  font-size: 2.8rem;
}
.min-max {
  font-size: 1.2rem;
}
